language: objective-c
osx_image: xcode9
env:
  global:
  - FRAMEWORK_NAME=__FRAMEWORK_NAME__
before_install:
- brew update
- brew outdated carthage || brew upgrade carthage
script: "./CarthageScripts/travis-build.sh"
before_deploy:
- "./CarthageScripts/bump-version.sh"
- ./CarthageScripts/build-static-framework.sh
- carthage archive $FRAMEWORK_NAME
deploy:
  provider: releases
  file: "$FRAMEWORK_NAME.framework.zip"
  skip_cleanup: true
  on:
    repo: flinto/__REPO_NAME__
    tags: true

